/* CSS declarations go here */
* {
	font-family: courier;
	color: white;
}

.jumbotron {
	color: white;
	background-color: rgba(0,0,0,.4);
}

body {
	background-image: url('background.jpg');
	background-size: cover;
	background-attachment: fixed;
}