/* CSS declarations go here */
* {
	font-family: courier;
	color: white;
	font-weight: bolder;
}

a {
	color: #00FF00;
	font-weight: bolder;
}

form {
	color: black;
}

.jumbotron {
	color: white!important;
	background-color: rgba(0,0,0,.3)!important;
}

body {
	background-image: url('background.jpg');
	background-size: cover;
}

.hits {
background-color:rgba(0, 0, 0, 0.8);
}

button {
	color: black;
	font-size: 30px;
}

.large {
	font-size: 30px;
	height: 45px;
}
.log{
height: 50px;
}